$color-dark : #000;
#footer-section{
  background: $color-dark;
  color: #fff;
  p{

    font-weight: 600;
  }
}
#main-nav{
    background: $color-dark !important;
    .nav-item{
        margin-right: 10px;
        .nav-link{
            text-transform: uppercase;
        }
    }
}

#showcase-section {
    background-color: #000;
    color: #fff;
    text-align: center;
  
    .carousel-item {
      height: 500px;
      position: relative;
      overflow: hidden;
  
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); // adjust opacity here
        z-index: 1;
      }
  
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
  
      .carousel-item-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
      }
    }
  
    .carousel-inner {
      position: relative;
    }
  
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
    }
  }
#home-icons{
  .fas{
    font-size: 2.5rem;
  }
}

#get-start-section{
  background: url(img/bg1.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 330px;
  ;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .container{
    .content-inner{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      z-index: 1;
    }
  }
}
#crash-course-section{
  background: url(img/people.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000066;
    z-index: 1;
  }
  .container{
    z-index: 2;
    .fab{
      font-size: 4rem;
    }
    h2{
      font-weight: 400;
    }
  }
}

#photo-gallery-section{
  .container{
    h2{
      font-weight: 600;
    }
    img{
      height: 100%;
    }
  }
}

#banner-section{
  margin-top: 3.5rem;
  // background: red;
  height: 17rem;
  position: relative;
  background: url(img/image1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 52%);
    z-index: 1;

  }
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
    transform: translate(-50%, -50%);
  }
}

#news-letter-section{
  background-color: #464444;
}
  // ex-Large devices (larger desktops, 1400px and up)
@media (min-width: 1200px) { 

}
  //Large devices (large desktops, 1200px and up)
@media (max-width: 1199px) { 

}
  // Media, devices (desktops, 992px and up)
@media (max-width: 991px) { 

}
  // Small devices (tablets, 768px and up)
@media (max-width: 767px) { 
  #showcase-section{
    .carousel-item {
      .carousel-item-content{
        width: 80% !important;
      }
    }
  }
  #get-start-section{
    .container{
      .content-inner{
        p{
          font-size: 1.1rem !important;
        }
      }
    }
  }
  #home-info{
    .container{
      p{
        font-size: 1.1rem !important;
      }
    }
  }
  #banner-section{
    .container{
      p{
        font-size: 1.1rem !important;
      }
    }
  }
}
  // ex Small devices (landscape phones, 576px and up)
@media (max-width: 575px) { 
  #showcase-section{
    .carousel-item {
      .carousel-item-content{
        width: 90% !important;
      }
      p.lead{
        font-size: 1.1rem !important;
      }
    }
  }
  #get-start-section{
    .container{
      .content-inner{
        p{
          font-size: 1.02rem !important;
        }
      }
    }
  }
  #home-info{
    .container{
      p{
        font-size: 1.02rem !important;
      }
    }
  }
  #banner-section{
    .container{
      p{
        font-size: 1.1 !important;
      }
    }
  }
 }







