
$backgound-color: #333;
$color-light:#fff;
$dark-overlay: #000000a6;
$primary-color: #0D6EFD;
$color-dark: #000;
body{
    background:$backgound-color;
    color:$color-light;
}
.nav-section{
    background: $backgound-color !important;
    opacity: 0.7;
    border-bottom: 3px solid $primary-color;
}
.navbar-light .navbar-brand {
    color: $color-light !important;
}
.navbar-light .navbar-nav .nav-link {
    color: $color-light !important;
}
#home-section{
    background: url(img/desk.jpeg);
    background-size: cover; /* Ensures the image covers the entire banner */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    // min-height: 700px; /* Set the height of the banner */
    width: 100%; /* Set the width of the banner */
    background-attachment: fixed;

    .dark-overlay {
        background-color: $dark-overlay;
        // min-height: 700px;

        
        .home-inner{
            padding-top: 150px;
            padding-bottom: 100px;
        }
        
    }
    .fa-check{
        // background-color: $color-light;
        background: $color-light !important;
        color: $primary-color !important;
        font-size: 22px;
        padding: 5px;
        border-radius: 4px;
    }
    #signup-form{
        opacity: 0.8;
    }
    
}

#explore-details-section{
    .fa-check{
        background: $color-dark;
        color: $color-light !important;
        padding: 6px;
        font-size: 20px;
    
    }
}

#create-main-section{
    .fa-check{
        background: $color-light !important;
        color: $primary-color !important;
        font-size: 22px;
        padding: 5px;
        border-radius: 4px;
    
    }
}
#share-details-section{
    .fa-check{
        background: $color-dark;
        color: $color-light !important;
        padding: 6px;
        font-size: 20px;
    
    }
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {  }

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) { 
    #home-section {
        h1.display-4{
            font-size: 30px !important;
        }
    }
 }

// Large devices (desktops, 992px and up)
@media (max-width: 991px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1199px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400) {  }